/* 共通スタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

header {
  background-color: #0044cc;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 14px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.genre-item {
  width: 200px;
  margin: 15px;
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.genre-item a {
  color: #333333;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-item a:hover {
  transform: scale(1.05);
  background-color: #e6f7ff;
}

.genre-item img {
  width: 80px;
  height: 80px;
}

.genre-item h3 {
  margin-top: 10px;
  font-size: 16px;
}

footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* 検索結果ページのスタイル */
.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.search-item {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 1em 0;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-item img {
  max-width: 150px;
  max-height: 100px;
  margin-right: 1em;
  border-radius: 4px;
}

.search-item h3 {
  font-size: 1.2em;
  margin: 0 0 0.5em;
}

.search-item p {
  margin: 0;
  color: #555;
}

@media (max-width: 600px) {
  .search-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-item img {
    margin-bottom: 1em;
  }
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
  .genre-list {
    flex-direction: column;
    align-items: center;
  }
}

/* 検索バーのスタイル */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar select {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #0044cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #003399;
}
