<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新しいパスワードの設定</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>新しいパスワードの設定</h1>
    </header>
    <main>
        <form action="/reset_password/{{ token }}" method="post">
            <label for="password">新しいパスワード:</label>
            <input type="password" id="password" name="password" required><br>
            <button type="submit">パスワードをリセット</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 My Video Finder. All rights reserved.</p>
    </footer>
</body>
</html>
